.card {
  padding: 8px;
  border: 1px lightgray solid;
  box-sizing: border-box;
  width: 32%;
  height: 160px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.defaultBorder {
  border: 2px lightgray solid;
}

.currentUnitBorder {
  border: 2px rgb(74, 133, 16) solid;
}

.targetBorder {
  border: 2px rgba(122, 34, 34, 0.623) solid;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 85%;
  margin-bottom: 6px;
}

.unitImg {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.poisonImg,
.shieldImg,
.deadImg {
  position: absolute;
  max-width: 20px;
  top: 2px;
  z-index: 5;
}

.poisonImg {
  right: 10px;
}

.shieldImg {
  left: 10px;
}

.hpIndicator {
  position: absolute;
  background-color: rgba(174, 27, 27, 0.511);
  width: 80%;
  top: 0;
  right: 10%;
  border-radius: 4px 4px 0 0;
}

.deadImg {
  max-width: 55%;
  top: 24px;
  left: 23%;
  opacity: 50%;
}
