.card {
  padding: 8px;
  border: 1px lightgray solid;
  box-sizing: border-box;
  width: 31%;
  height: 155px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.card > img {
  width: 80%;
  height: 90%;
  object-fit: cover;
}
